# !! This is Hardlinked to all DEAD-project-directories - show the INDEX only!

# required for displaying as "directory" in local mode 
# i.e: ignore php,htm[l] files
RemoveHandler .php .htm .html
RemoveType .php .htm .html

#DirectoryIndex disable.unknown
DirectoryIndex disabled

IndexIgnore index.php index.html
IndexIgnore ".." #disable parent directory
