html, body, div, ul, li, h1, h2, h3, img, label{
	margin:0;
	padding:0;
	border:none;
	list-style:none;
	display:block;
}
body{
	background:#dee0e0 url(back.png) 0 0 repeat;
}
a { color: #2069b4; }
	a:hover { color: #2a2e36; }
/* ---------- TOP + HEADER ---------- */
div#top-bar {
	width:100%;
	height:auto;
	overflow:hidden;
	display:block;
	background-color: #7d8a93;
	padding:10px 0 10px 0;
}
.round {
	border-radius: 0.3125em; /* 5/16 */
	-moz-border-radius: 0.3125em; /* 5/16 */
	-webkit-border-radius: 0.3125em; /* 5/16 */
}
/* ---------- BUTTONS ---------- */
.button {
	padding: 1.0em; /* 10/12 */
	width:110px;
	display: inline-block;
	text-decoration: none;
	background:#3b4f5b url(ic_left.png) 5px center no-repeat;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:0.74em;
}
.dark {
	color: white;
}
	.dark:hover {
		background-color: #5d6677;
		color: white;
	}
/* Page Container Style */
.page-full-width { 
	padding: 0 1.875em; /* 30/16 */ 
}

#login-box {
	width:500px;
	height:auto;
	position:relative;
	margin:50px auto 0 auto;
	color: #4f4e4e;
	font: 12px Arial, Helvetica, sans-serif;
}
#login-box #users{
	width:58px;
	height:36px;
	overflow:hidden;
	float:left;
	display:inline;
	background:url(users.png) 0 0 no-repeat;
	margin:22px 0 0 0;
}
#login-box h2 {
	width:400px;
	height:42px;
	overflow:hidden;
	color: #777;
	font: normal 38px "Calibri", Arial;
	text-shadow: 0 0 1px rgba(50,50,50,.6);
	text-align:left;
	float:left;
	display:inline;
	margin-left:10px;
}
#login-box h3{
	width:400px;
	height:auto;
	overflow:hidden;
	color: #888;
	font: bold 13px "Calibri", Arial;
	text-shadow: 0 0 1px rgba(100,100,100,.4);
	text-align:left;
	float:left;
	margin:0 0 0 10px;
	padding-bottom:15px;
}
	#login-box h3 span{
		font-size:16px;
	}
#login-box #line {
	width:400px;
	height:2px;
	overflow:hidden;
	float:left;
	background:url(line.png) 0 0 repeat-x;
	margin:0 0 5px 70px;
}
#login-box #line_bot {
	width:400px;
	height:2px;
	overflow:hidden;
	float:left;
	background:url(line_bot.png) 0 0 repeat-x;
	margin:25px 0 5px 70px;
}
#login-box ul{
	width:400px;
	height:auto;
	overflow:hidden;
	float:left;
	margin: 10px 0 0 70px;
	display:block;
}
	#login-box ul li{
		width:100%;
		height:auto;
		overflow:hidden;
		margin: 0 auto;
		padding-bottom:10px;
	}
#login-box ul li label {
	width:100%;
	height:auto;
	float: left;
	display:inline;
	text-align: left;
	padding: 14px 0 0 0;
	margin:0 0 2px 0;
	text-transform:uppercase;
	font-weight:normal;
	color:#444;
}
.form-login  {
	width: 300px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #dddddd;
	background-color:#f0f0f0;
	font-size: 16px;
	color: #696969;
	float:left;
}
.form-login:hover{
	border: 1px solid #d2d2d2;
	background-color:#e6e6e6F;
}
.login-box-options  {
	clear:both;
	width:100%;
	height:auto;
	overflow:hidden;
	font-size: 11px;
	margin:6px 0 10px 0;
	display:block;
	text-align:left;
}
a {
	width:100%;
	height:auto;
	color: #4f4e4e;
	font-size: 11px;
	text-align:right;
}
#login-box #button{
	width:59px;
	height:30px;
	float:left;
	padding:0;
	border:0;
	margin-left:3px;
	display:block;
	background:url(submit.png) 0 0 no-repeat;
	border:none;
	cursor:pointer;
}
	#login-box #button.reset{
		margin-left:186px;
		background:url(reset.png) 0 0 no-repeat;
	}
#ajaxerror, #ajaxerror2{
	top:80px;
	left:70px;
	color:#920d0d;
	font-size:14px;
	text-shadow: 0 1px 1px rgba(32,36,44,.3);
	margin:0 auto;
	position:absolute;
}
#login_process{
	color:#FFFFFF;
	font-size:14px;
	text-shadow: 0 1px 1px rgba(32,36,44,.3);
	margin:0 auto;
}

/* ---------- FOOTER ---------- */
div#footer {
	width:400px;
	height:auto;
	overflow:hidden;
	clear:both;
	margin:10px auto;
	padding-top:60px;
	text-align: center;
	color:#666;
	font-size:12px;
	font-weight:lighter;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}