html, body, div, ul, li, h1, h2, h3, img, labell{
	margin:0;
	padding:0;
	border:none;
	list-style:none;
}
body{
	background: #363636 url(../../Resources/Images/background.png) center 0 no-repeat fixed;
}

#login-box {
	width:333px;
	height: 352px;
	margin:25px auto;
	padding: 50px 74px 0 74px;
	color: #4f4e4e;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(../images/login-box-backg.png) no-repeat left top;
	display:block;
	position:relative;
}

#login-box img {
	border:none;
}

#login-box h2 {
	height:50px;
	padding:0;
	margin:0;
	display:block;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
	text-align:left;
	margin:0 auto;
}
#login-box h3{
	height:15px;
	color: #ebebeb;
	font: bold 13px "Calibri", Arial;
	text-align:left;
	display:block;
	margin:5px auto 0 auto;
	padding-bottom:15px;
}
#login-box h3 span{
	font-size:16px;
}
#login-box-name {
	float: left;
	display:inline;
	width:85px;
	text-align: right;
	padding: 14px 5px 0 0;
	margin:0 0 7px 0;
	text-transform:uppercase;
	font-weight:600;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	width: 225px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #dddddd;
	background-color:#FFFFFF;
	font-size: 16px;
	color: #696969;
}
.form-login:hover{
	border: 1px solid #d4d2d2;
	background-color:#e6e6e6F;
}

.login-box-options  {
	clear:both;
	padding-left:85px;
	font-size: 11px;
}

.login-box-options a {
	color: #4f4e4e;
	font-size: 11px;
}
#login-box #button{
	width:103px;
	height:42px;
	margin:0 auto;
	display:block;
	background:url(../images/login-btn.png) 0 0 no-repeat;
	border:none;
	cursor:pointer;
}
#ajaxerror, #ajaxerror2{
	top:135px;
	left:100px;
	color:#920d0d;
	font-size:14px;
	text-shadow: 0 1px 1px rgba(32,36,44,.3);
	margin:0 auto;
	position:absolute;
}
#login_process{
	color:#FFFFFF;
	font-size:14px;
	text-shadow: 0 1px 1px rgba(32,36,44,.3);
	margin:0 auto;
}