html, body, div, span, ul, li, h1, h2, h3, h4, label, img, table{
	margin:0;
	padding:0;
	border:0;
}
@media screen {
#gray{
	background:#CCC;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:13px;
	font-weight:500;
}
#gray .a4-outer-landscape{
	width: 29.7cm;
	height:auto;
	overflow:hidden;
	margin:10px auto 0 auto;
	margin-bottom:10px;
	padding:20px 0 20px 0;
	background:#FFF;
}
#gray .a4-landscape{
	width: 26.7cm;
	height:auto;
	overflow:hidden;
	display:table;
	font-size:13px;
	font-weight:500;
	position:relative;
}
#gray .a4-outer-portrate{
	width: 21cm;
	height:auto;
	overflow:hidden;
	margin:10px auto 0 auto;
	margin-bottom:10px;
	padding:20px 0 20px 0;
	background:#FFFFFF;
}
#gray .a4-portrate{
	width: 18cm;
	height:auto;
	overflow:hidden;
	display:table;
	font-size:13px;
	font-weight:500;
	position:relative;
}
	
	#gray .a5-outer-landscape{
		width: 21cm;
		height:auto;
		overflow:hidden;
		margin:10px auto 0 auto;
		margin-bottom:10px;
		padding:20px 0 20px 0;
		background:#FFF;
	}
	#gray .a5-landscape{
		width: 18cm;
		height:auto;
		overflow:hidden;
		display:table;
		font-size:13px;
		font-weight:500;
		position:relative;
	}
	#gray .a5-outer-portrate{
		width:14.8cm;
		height:auto;
		overflow:hidden;
		margin:10px auto 0 auto;
		margin-bottom:10px;
		padding:20px 0 20px 0;
		background:#FFFFFF;
	}
	#gray .a5-portrate{
		width: 11.8cm;
		height:auto;
		overflow:hidden;
		margin:0 auto;
		display:table;
		font-size:13px;
		font-weight:500;
		position:relative;
	}
#gray #header{
	width:100%;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	position:relative;
	padding-bottom:10px;
	border-bottom:#385b7f 2px solid;
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
}
#gray #header .logo{
	width:100px;
	height:64px;
	float:left;
	display:inline-block;
	background:url(../images/littleasia_logo_report.png) 0 0 no-repeat;
	margin-right:10px;
	padding-bottom:10px;
}
#gray #header h1{
	width:auto;
	height:26px;
	display:block;
	float:left;
	color:#134a7d;
	font-size:24px;
	font-weight:bold;
	text-align:left;
	font-style:normal;
}
	#gray #header.small h1{
		height:20px;
		font-size:20px;
	}
	#gray #header h2{
		width:auto;
		height:auto;
		overflow:hidden;
		display:block;
		float:left;
		color:#404040;
		font-size:12px;
		font-weight:normal;
		text-align:left;
		font-style:normal;
	}
	#gray #header h2 strong{
		font-size:16px;
		font-weight:500;
		color:#404040;
	}
		#gray #header.small h2{
			font-size:11px;
		}
		#gray #header.small  h2 strong{
			font-size:13px;
			font-weight:500;
			color:#0b4881;
		}
	#gray #header h2 br{
		width:100%;
		margin-bottom:2px;
	}
	#header .date{
		width:auto;
		height:auto;
		overflow:hidden;
		bottom:0;
		right:5px;
		position:absolute;
		text-align:right;
		font-size:12px;
		color:#333;
	}
		#gray #header.small .date{
			font-size:12px;
		}
.double{
	border-bottom:#333333 3px double;
	border-top: #333333 1px solid;
}
#gray h3{
	width:100%;
	height:auto;
	overflow:hidden;
	display:block;
	margin:0 auto;
	color:#222;
	font-size:16px;
	font-weight:bold;
	text-decoration:underline;
	text-align:left;
	font-style:normal;
}
	#gray h3.small{
		margin:0 auto;
		font-size:14px;
	}
#gray strong {
	color:#222;
	font-weight:bold;
}
#gray a{
	color:#330033;
	text-decoration:none;
	font-size:14px;
}
#gray a:hover{
	color:#333;
	text-decoration:underline;
}
input, select{
	color:#000000;
	border:none;
	background:none;
	font-size:14px;
}
#print_bt{
	width:60px;
	height:25px;
	overflow:hidden;
	top:15px;
	right:0;
	position:absolute;
	display:block;
	text-indent: -99999px;
	background:url(../images/print.png) left top no-repeat;
	cursor:pointer;
}
#print_bt:hover{
	background-position: 0 -25px;
}
#pdf_bt{
	width:60px;
	height:25px;
	overflow:hidden;
	top:45px;
	right:0;
	position:absolute;
	display:block;
	text-indent: -99999px;
	background:url(../images/pdf.png) left top no-repeat;
	cursor:pointer;
}
#pdf_bt:hover{
	background-position: 0 -25px;
}
.administration{
		width:auto;
		height:auto;
		overflow:hidden;
		bottom:5px;
		right:5px;
		position:absolute;
		text-align:right;
		font-size:10px;
		color:#333;
	}
.footer{
	width:94%;
	height:auto;
	overflow:hidden;
	float:left;
	margin-left:46px;
	font-size:9px;
	text-align:left;
	color:#777;
	border-top:#ccc 1px solid;
	margin-top:4px;
	padding-top:4px;
	font-family:Arial, Helvetica, sans-serif;
}
}


@media print {
#gray{
	background:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:13px;
	font-weight:500;
}
#gray .a4-outer-landscape{
	width: 29.7cm;
	height:auto;
	overflow:hidden;
	margin:10px auto 0 auto;
	margin-bottom:10px;
	padding:20px 0 20px 0;
	background:#FFF;
}
#gray .a4-landscape{
	width: 26.7cm;
	height:auto;
	overflow:hidden;
	display:table;
 	font-size:13px;
	font-weight:500;
	position:relative;
}
#gray .a4-outer-portrate{
	width: 21cm;
	height:auto;
	overflow:hidden;
	margin:10px auto 0 auto;
	margin-bottom:10px;
	padding:20px 0 20px 0;
	background:#FFF;
}
#gray .a4-portrate{
	width: 18cm;
	height:auto;
	overflow:hidden;
	display:table;
 	font-size:13px;
	font-weight:500;
	position:relative;
}
	#gray .a5-outer-landscape{
		width: 21cm;
		height:auto;
		overflow:hidden;
		margin:10px auto 0 auto;
		margin-bottom:10px;
		padding:20px 0 20px 0;
		background:#FFF;
	}
	#gray .a5-landscape{
		width: 18cm;
		height:auto;
		overflow:hidden;
		display:table;
		font-size:13px;
		font-weight:500;
		position:relative;
	}
	#gray .a5-outer-portrate{
		width: 14.8cm;
		height:auto;
		overflow:hidden;
		margin:10px auto 0 auto;
		margin-bottom:10px;
		padding:20px 0 20px 0;
		background:#FFF;
	}
	#gray .a5-portrate{
		width: 11.8cm;
		height:auto;
		overflow:hidden;
		display:table;
		font-size:13px;
		font-weight:500;
		position:relative;
	}

#gray #header{
	width:100%;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	position:relative;
	padding-bottom:10px;
	border-bottom:#385b7f 2px solid;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
}
#gray #header .logo{
	width:100px;
	height:64px;
	float:left;
	display:inline-block;
	background:url(../images/littleasia_logo_report.png) 0 0 no-repeat;
	margin-right:10px;
	padding-bottom:10px;
}
#gray #header h1{
	width:auto;
	height:26px;
	display:block;
	float:left;
	color:#134a7d;
	font-size:24px;
	font-weight:bold;
	text-align:left;
	font-style:normal;
}
	#gray #header.small h1{
		height:20px;
		font-size:20px;
	}
	#gray #header h2{
		width:auto;
		height:auto;
		overflow:hidden;
		display:block;
		float:left;
		color:#404040;
		font-size:12px;
		font-weight:normal;
		text-align:left;
		font-style:normal;
	}
	#gray #header h2 strong{
		font-size:16px;
		font-weight:500;
		color:#404040;
	}
		#gray #header.small h2{
			font-size:11px;
		}
		#gray #header.small  h2 strong{
			font-size:13px;
			font-weight:500;
			color:#0b4881;
		}
	#gray #header h2 br{
		width:100%;
		margin-bottom:2px;
	}
	#header .date{
		width:auto;
		height:auto;
		overflow:hidden;
		bottom:0;
		right:5px;
		position:absolute;
		text-align:right;
		font-size:12px;
		color:#333;
	}
		#gray #header.small .date{
			font-size:12px;
		}
.double{
	border-bottom:#333333 3px double;
	border-top: #333333 1px solid;
}
#gray h3{
	width:100%;
	height:auto;
	overflow:hidden;
	display:block;
	margin:0 auto;
	color:#222;
	font-size:16px;
	font-weight:bold;
	text-decoration:underline;
	text-align:left;
	font-style:normal;
}
	#gray h3.small{
		margin:0 auto;
		font-size:14px;
	}
#gray strong {
	color:#222;
	font-weight:bold;
}
#gray a{
	color:#330033;
	text-decoration:none;
	font-size:14px;
}
#gray a:hover{
	color:#333;
	text-decoration:underline;
}
input, select{
	color:#000000;
	border:none;
	background:none;
	font-size:14px;
}
#print_bt, #pdf_bt{
	display:none;
}
.administration{
	width:auto;
	height:auto;
	overflow:hidden;
	bottom:5px;
	right:5px;
	position:absolute;
	text-align:right;
	font-size:10px;
	color:#333;
}
.footer{
	width:94%;
	height:auto;
	overflow:hidden;
	float:left;
	margin-left:46px;
	font-size:9px;
	text-align:left;
	color:#777;
	border-top:#ccc 1px solid;
	margin-top:4px;
	padding-top:4px;
	font-family:Arial, Helvetica, sans-serif;
}
}