@charset "utf-8";
/* 
code should be postion, top, left, width, height
only working top, left
bottom and right are not working
*/

.one{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
}
.one .all-wrapper{
    position: absolute;
    top: 85%;
    left: 30px;
    width: 100%;
    height: 102px;
    overflow: hidden;
}
.one .lefttitle{ 
    width: auto;
    height: 55px;
    float: left;
    display: inline-block;
    padding: 0 15px 0 15px;
    margin-left: 1px;
    text-align: left; line-height: 50px; font-variant:small-caps; font-size: 30px;
    color: #fff;
    background: url(../images/slider-header-back.png) 0 0 repeat;
    border: #312253 1px solid;
    border-left-width:10px;
    text-shadow: 0 1px 1px rgba(39,10,5,.4);
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.one .btn{
    width: auto;
    height: 55px;
    display: inline-block;
    float: left !important;
    border: #0f0625 1px solid;
    border-right-width: 10px;
    margin-left: 2px;
    background: url(../images/slider-btn-back.png) 0 0 repeat;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    text-shadow: 0 1px 1px rgba(39,10,5,.8);
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.one .btn:hover{
    background: #312253 url(../images/slider-btn-back.png) 0 0 repeat;
}
.one .leftcontent{
    position: absolute; 
    top: 50%; 
    left: 30px;
    width: 45%; 
    height: 120px; 
    display: inline-block;
    padding: 10px 20px 10px 20px;
    text-align: justify; 
    line-height: 26px;
    font-size: 22px;
    color: #120c20;
    font-variant: small-caps;
    text-shadow: 0 1px 1px rgba(15,09,25,0.2);
    background: url(../images/slider-content-back.png) 0 0 repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; 
    border-radius: 5px;
    border-bottom: #fff 3px solid;
}

.one .leftcontent:before {
    content: ' ';
    border-color: rgba(255, 255, 255, 0.5) transparent transparent;
    border-style: solid;
    border-width: 17px;
    position: absolute;
    bottom: -39px;
    left: 16px;
}
.one .leftcontent:after {
    content: ' ';
    border-color: rgba(255, 255, 255, 0.8) transparent transparent;
    border-style: solid;
    border-width: 13px;
    position: absolute;
    bottom: -26px;
    left: 20px;
}